[package]
name = "angelscript"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = "2.0"
bitflags = "2.9"

[dev-dependencies]
criterion = "0.7"

[features]

[package.metadata.docs.rs]
all-features = true
no-deps = true
